/* MAIN BODY STYLING */

body {
  background-color: brown;
}

p {
font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Krona One', sans-serif;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

button {
  font-family: 'Roboto Slab', serif;
}

 /* END MAIN BODY STYLING */


/* MESSAGE STYLING */
#message-main-container {
  background-color: oldlace;
}

#place-messages-here {
  overflow-y: scroll;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: ghostwhite;
  border: 1px solid grey;
}
.row, .message {
  margin: 5px;
}

#module-head {
  padding-left: 10px;
}
/* END MESSAGE STYLING */



/* FRIEND REQUEST STYLING */

.friend-request {
  margin-right: 15px;
}

.de-friend {
  margin-left: 5%;
}

/* modal placement */

.event-modal-content {
  height: 333px;
  width: 598px;
}

.event-input-group {
  padding: 18px;
}

.close-event {
  height: 30px;
  width: 30px;
}

.event-modal-title {
  font-size: 23px;
  color: black;
}

/* .event-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;
} */