/* MAIN BODY STYLING */

body {
  background-color: #619B8D;
}

p {
font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Krona One', sans-serif;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

button {
  font-family: 'Roboto Slab', serif;
}

.navbar {
  height: 85px;
}

a > h1 {
  font-size: 2.5em;
}
#scroll {
  position: relative;
}
 /* END MAIN BODY STYLING */

/* MESSAGE STYLING */
#message-main-container, #tasks-main-container, #events-main-container, #articles-main-container, #friends-main-container {
  background-color: #f1e462;
  margin: 5px;
}

#place-messages-here, #articleHolder, #upcomingEvents, #where-tasks-live {
  overflow-y: scroll;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: ghostwhite;
  border: 1px solid grey;
}

.row, .message {
  margin: 5px;
}

#module-head {
  padding-left: 10px;
}
/* END MESSAGE STYLING */

/* FRIEND REQUEST STYLING */

.friend-request {
  margin-right: 15px;
}

.de-friend {
  margin-left: 5%;
}

.add-friend {
  margin-left: 5%;
}

/* modal placement */

.event-modal-content {
  height: 333px;
  width: 598px;
}

.event-input-group {
  padding: 18px;
}

.close-event {
  height: 30px;
  width: 30px;
}

.event-modal-title {
  font-size: 23px;
  color: black;
}

/* .event-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;
} */

/* Tasks */

.check-mark {
  color: seagreen;
}

.check-mark:hover {
  color: darkgreen;
  cursor: pointer;
}

.remove-mark {
  color: tomato;
}

.remove-mark:hover {
  color: red;
  cursor: pointer;
}

.margin {
  margin-left: 5px;
  margin-right: 5px;
}