body {
  background-color: blue;
}

#message-main-container {
  border: 5px solid maroon;
}

#tasks-main-container {
  border: 5px solid maroon;
}

#events-main-container {
  border: 5px solid maroon;
}

#articles-main-container {
  border: 5px solid maroon;
}

#friends-main-container {
  border: 5px solid maroon;
}

/* MESSAGE STYLING */
#message-main-container {
  background-color: oldlace;
}

#place-messages-here {
  overflow-y: scroll;
  height: 400px;
}

.row {
  margin: 5px;
}
/* END MESSAGE STYLING */



/* FRIEND REQUEST STYLING */

.friend-request {
  margin-right: 15px;
}